#
# https://help.github.com/articles/dealing-with-line-endings/
#
# Linux start script should use lf
/gradlew        text eol=lf

# These are Windows script files and should use crlf
*.bat           text eol=crlf

# Java source files should always use LF
*.java          text eol=lf

# Ballerina files should use LF
*.bal           text eol=lf

# Binary files should be left untouched
*.jar           binary

